.App {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  width: 900px;
  background-color: #f9f9f9;
  min-height: 80vh;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.9), 15px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  flex-wrap: wrap;

}
.Task-create {
  width: 100%;
  padding: 20px;
}

h1 {
  width: 100%;
  margin-left: 20px;
}

.row {

  width: 270px;
  padding: 8px;
  margin: 5px;
  
  margin-bottom: 30px;

  scroll-snap-type: y proximity;
  max-height: 70vh;
}


.columns {
  display: flex;
  width: 100%;
  padding: 8px;
  margin: 5px;

  margin-bottom: 30px;
  justify-content: space-evenly;

  max-height: 70vh;
}
